<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <!-- <a class="navbar-brand" href="#">Expand at sm</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav w-100 align-items-center">
                <img src="images/wah_navbar_logo.png" class="navbar-brand m-0 p-0" alt="WAH Logo" style="width:200px;height:70px">
            <li class="nav-item">
                <a class="nav-link" ui-sref="home">Home</a>
            </li>
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    User Accounts
                </a>
                <div class="dropdown-menu" 
                    aria-labelledby="userDropdown">
                    <a class="dropdown-item" ui-sref="user-register"><i class="fa fa-user-plus text-primary"></i> User Registration</a>
                    <a class="dropdown-item" ui-sref="user-list"><i class="fa fa-users text-primary"></i> User List</a>
                </div>
            </li>
            <li class="nav-item dropdown" ng-show="">
                <a class="nav-link dropdown-toggle" id="fileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Files
                </a>
                <div class="dropdown-menu" aria-labelledby="fileDropdown">
                    <a class="dropdown-item" ui-sref="file-upload"><i class="fa fa-upload text-primary"></i> File Upload</a>
                    <a class="dropdown-item" ui-sref="file-list"
                        ng-show=""><i class="fa fa-database text-primary"></i> SQL List</a>
                    <a class="dropdown-item" ui-sref="update-list"
                        ng-show=""><i class="fa fa-file-archive-o text-primary"></i> Update List</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="map">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="statistics">Statistics</a>
            </li>
            <li>
                <button class="btn btn-secondary btn-sm w-100" 
                    ng-click="">
                    <i class="fa fa-download"></i>
                    latest update:
                    <strong>sample_sql.zip</strong>
                </button>
            </li>
        </ul>
        
        <!-- Name and Role vertical elements -->
        <div class="d-flex flex-column flex-wrap text-white text-right ml-auto w-50">
            <h6 class="m-0 p-0 font-weight-bold">Francis Fernandez (Admin)</h6>
            <!-- <h6 class="m-0 p-0">SAN CLEMENTE RHU</h6> -->
        </div>

        <!-- User Options (Vertical Ellipsis Icon) -->
        <div class="nav-item dropdown text-white">
            <a class="mx-2 px-3 py-2 rounded-circle waves-effect" id="userOptions" data-toggle="dropdown">
                <i class="fa fa-ellipsis-v" style="font-size:1.5rem !important"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userOptions">
                <a class="dropdown-item" ng-click="">
                    <i class="fa fa-power-off mr-3 text-danger"></i> Logout
                </a>
            </div>
        </div>
    </div>
</nav>